<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpModules>
      <add name="RedirectHttpModule" type="CsRedirectHttpModule.RedirectHttpModule" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0" />
    <trace enabled="true" localOnly="false" />
  </system.web>
</configuration>
